* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E4EBF7;
}
a {
    text-decoration: none;
}

$blocksColor: #F2F6FC;
$blocksBorderColor: #CBD1DC;

$noto: 'Noto Sans', sans-serif;
$colorText: #515974;
$colorWhiteText: #E4EBF7;

$colorMenuLine: #0C1224;

/* HEADER */

header {
    background-color: $blocksColor;
    border-bottom: 1px solid $blocksBorderColor;

}
.headerWrapper {
    margin: 0 auto;
    width: 1800px;
}
.headerContent {
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.headerSearch {
    position: absolute;
    left: 100px;
    top: 37px;
    input {
        height: 40px;
        width: 500px;
        color: $noto;
        font-size: 26px;
        color: $colorText;
        background-color: transparent;
        border: none;
        outline: none;
    }
}
.headerIcons {
    margin-right: 50px;
    img {
        margin-left: 20px;
    }
    cursor: pointer;
}
/* */

/* MENU */
.menuBlock {
    position: fixed;
    top: 0;
    background-color: #1B2133;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 3;
    overflow-y: scroll;
    height: 100%;
}
.menuBlock::-webkit-scrollbar { 
    width: 0;
    background: transparent; 
}

.menuLogo {
    position: relative;
    right: 40px;
    right: 40px;
    padding-left: 40px;
    width: 150%;
    padding-top: 45px;
    padding-bottom: 45px;
    border-bottom: 1px solid $colorMenuLine;
    display: flex;
    a {
        font-size: 35px;
        color: $colorWhiteText;
        font-family: $noto;
        font-weight: bold;
    }
}

.burger {
    position: relative;
    left: 40px;
    height: 50px;
    width: 50px;
    margin-left: 100px;
    cursor: pointer;
}
.burgerLine,
.burgerLine::before,
.burgerLine::after {
    position: absolute;
    background-color: $colorWhiteText;
    height: 2px;
    width: 40px;
}
.burgerLine {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &::before{
        content: '';
        top: 12px;
    }
    &::after {
        content: '';
        top: -12px;
    }
}


.menuAccount {
    position: relative;
    right: 40px;
    right: 40px;
    padding-left: 40px;
    width: 150%;
    padding-top: 45px;
    padding-bottom: 45px;
    display: flex;
    p {
        color: $colorWhiteText;
        font-family: $noto;
        font-size: 28px;
        margin-left: 30px;
        margin-top: 5px;
    }
}
%menuContent {
    position: relative;
    right: 40px;
    right: 40px;
    padding-left: 40px;
    width: 150%;
    display: flex;
    padding-top: 25px;  
    padding-bottom: 25px;
    border-top: 1px solid $colorMenuLine;
    p {
        font-family: $noto;
        color: #515974;
        font-size: 20px;
    }
}
.menuContentTopList {  
    @extend %menuContent;
}
.menuContentBottomList {  
    @extend %menuContent;
}

.menuArrow {
    position: relative;
    left: 240px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-top: 5px;
}
.arrow,
.arrow::after,
.arrow::before {
    position: absolute;
    background-color: #515974;
    width: 14px;
    height: 3px;
    border-radius: 10px;
}
.arrow {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    &::before {
        content: '';
        transform: rotate(45deg);
        left: -4.5px;
    }
    &::after {
        content: '';
        transform: rotate(-45deg);
        left: 4.5px;
    }
}

.menuTopContainer {
    position: relative;
    right: 40px;
    right: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    width: 150%;
    &:hover {
        background-color: #0C1224;
        border-left: 3px solid #F45B63;
    }
    a {
        margin-left: 20px;
        margin-bottom: 3px;
        color: $colorWhiteText;
        font-size: 26px;
        font-family: $noto;
    }
}


/* */