* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E4EBF7;
}
a {
    text-decoration: none;
}

$blocksColor: #F2F6FC;
$blocksBorderColor: #DBE2ED;

$noto: 'Noto Sans', sans-serif;
$colorText: #515974;
$colorWhiteText: #E4EBF7;

$colorMenuLine: #0C1224;

/* HEADER */

header {
    background-color: $blocksColor;
    border-bottom: 1px solid #CBD1DC;

}
.headerWrapper {
    margin: 0 auto;
    width: 1800px;
}
.headerContent {
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.headerSearch {
    position: absolute;
    left: 100px;
    top: 37px;
    input {
        height: 40px;
        width: 500px;
        color: $noto;
        font-size: 26px;
        color: $colorText;
        background-color: transparent;
        border: none;
        outline: none;
    }
}
.headerIcons {
    img {
        margin-left: 20px;
    }
    cursor: pointer;
}
/* */

/* MENU */
.menuBlock {
    position: fixed;
    top: 0;
    background-color: #1B2133;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 3;
    overflow-y: scroll;
    height: 100%;
    transform: translateX(-100%);
}
.menuBlock::-webkit-scrollbar { 
    width: 0;
    background: transparent; 
}

.menuLogo {
    position: relative;
    right: 40px;
    right: 40px;
    padding-left: 40px;
    width: 150%;
    padding-top: 45px;
    padding-bottom: 45px;
    border-bottom: 1px solid $colorMenuLine;
    display: flex;
    a {
        font-size: 35px;
        color: $colorWhiteText;
        font-family: $noto;
        font-weight: bold;
    }
}

.burger {
    position: relative;
    left: 40px;
    height: 50px;
    width: 50px;
    margin-left: 100px;
    cursor: pointer;
}
.burgerLine,
.burgerLine::before,
.burgerLine::after {
    position: absolute;
    background-color: $colorWhiteText;
    height: 2px;
    width: 40px;
}
.burgerLine {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &::before{
        content: '';
        top: 12px;
    }
    &::after {
        content: '';
        top: -12px;
    }
}


.menuAccount {
    position: relative;
    right: 40px;
    right: 40px;
    padding-left: 40px;
    width: 150%;
    padding-top: 45px;
    padding-bottom: 45px;
    display: flex;
    p {
        color: $colorWhiteText;
        font-family: $noto;
        font-size: 28px;
        margin-left: 30px;
        margin-top: 5px;
    }
}
%menuContent {
    position: relative;
    right: 40px;
    right: 40px;
    padding-left: 40px;
    width: 150%;
    display: flex;
    padding-top: 25px;  
    padding-bottom: 25px;
    border-top: 1px solid $colorMenuLine;
    p {
        font-family: $noto;
        color: #515974;
        font-size: 20px;
    }
}
.menuContentTopList {  
    @extend %menuContent;
}
.menuContentBottomList {  
    @extend %menuContent;
}

.menuArrow {
    position: relative;
    left: 240px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-top: 5px;
}
.arrow,
.arrow::after,
.arrow::before {
    position: absolute;
    background-color: #515974;
    width: 14px;
    height: 3px;
    border-radius: 10px;
}
.arrow {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    &::before {
        content: '';
        transform: rotate(45deg);
        left: -4.5px;
    }
    &::after {
        content: '';
        transform: rotate(-45deg);
        left: 4.5px;
    }
}

.menuTopContainer {
    position: relative;
    right: 40px;
    right: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    width: 150%;
    &:hover {
        background-color: #0C1224;
        border-left: 3px solid #F45B63;
    }
    a {
        margin-left: 20px;
        margin-bottom: 3px;
        color: $colorWhiteText;
        font-size: 26px;
        font-family: $noto;
    }
}
%menuContentHidden {
    transition: 1s;
    max-height: 0px;
    overflow: hidden;
    position: relative;
    right: 40px;
    right: 40px;
    padding-left: 40px;
    width: 120%;
}

.menuContentTopNav {
    @extend %menuContentHidden;
    &.active {
        max-height: 700px;
        transition: 1s;
    }
}
.menuContentBottomNav {
    @extend %menuContentHidden; 
    border-bottom: 1px solid $colorMenuLine;
    &.active {
        max-height: 700px;
        transition: 1.5s;
    }
}
/* */

/* MAIN */
%mainBlocks {
    background-color: $blocksColor;
    border-bottom: 1px solid $blocksBorderColor;
    border-left: 1px solid $blocksBorderColor;
    border-right: 1px solid $blocksBorderColor;
}

.projectsBlock {
    @extend %mainBlocks;
}
.teamBlock {
    @extend %mainBlocks;
}
.activityBlock {
    @extend %mainBlocks;
}
.visitsBlock {
    @extend %mainBlocks;
}
.messagesBlock {
    @extend %mainBlocks;
}
.implementationBlock {
    @extend %mainBlocks;
}
.clientActivityBlock {
    @extend %mainBlocks;
}
.mailBlock {
    @extend %mainBlocks;
}
main {
    height: 100%;
    width: 100%;
}
.mainWrapper {
    margin: 0 auto;
    width: 1800px;
}
.mainContent {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}
.projectsBlock {
    
    background-color: $blocksColor;
    margin-top: 10px;
}
.mainContent div:nth-child(1) {
    grid-column: 1 / -1;
}

%mainTextTitle {
    color: $colorText;
    font-size: 24px;
    font-family: $noto;
    font-weight: bold;
}
%mainTitleCollapse {
    height: 3px;
    width: 20px;
    background-color: #A5A6BB;
    cursor: pointer;
}
@mixin TitleOff {
.OffLine,
.OffLine::after,
.OffLine::before {
    position: absolute;
    height: 3px;
    width: 20px;
    background-color: #A5A6BB;
    cursor: pointer;
}
.OffLine {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    &::before {
        content: '';
        transform: rotate(45deg);
    }
    &::after {
        content: '';
        transform: rotate(-45deg);
    }
}
}

$colorBorderTitle: #E1E7F0;

%mainTitle {
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid $colorBorderTitle;
    display: flex;
    justify-content: space-between;
}
%mainTitleFlex {
    align-items: center;
    display: flex;
    column-gap: 10px;
}

/* PROJECT */

.projectWrapper {
    margin: 0 auto;
    width: 1725px;
}
.projectTitle {
    @extend %mainTitle;
    p {
        @extend %mainTextTitle;
    }
}
.projectButtons {
    @extend %mainTitleFlex;
}
.projectCollapse {
    @extend %mainTitleCollapse;
}
.projectOff {
    position: relative;
    height: 30px;
    width: 30px;  
}

.projectContentTop {
    display: flex;
    column-gap: 30px;
    &>div {
        display: flex
    }
    &>div:nth-child(5) {
        margin-left: auto;
    }
    &>div:nth-child(4) {
        background-color: #F45B63;
        border-color: #F45B63;
    }
    p {
        color: $colorText;
        font-size: 20px;
        font-family: $noto
    }   
}

/* OffButton */
@include TitleOff;

/* */

.projectContentTopBlock {
    padding: 10px 25px;
    border: 2px solid #A5A6BB;
    border-radius: 35px;
    cursor: pointer;
    &:hover {
        background-color: #54A6DE;
        border-color: #54A6DE;
    }
    &:hover p {
        color: #E4EBF7;
    }
    &:hover .arrowProject::before {
        background-color: #E4EBF7;
    }
    &:hover .arrowProject::after {
        background-color: #E4EBF7;
    }
}

.contentTopArrow {
    height: 30px;
    width: 30px;
    position: relative;
}
.arrowProject, 
.arrowProject::before, 
.arrowProject::after {
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: #515974;
    border-radius: 15px;
}
.arrowProject {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}
.arrowProject::after {
    content: '';
    transform: rotate(45deg);
    left: -4px;
}
.arrowProject::before {
    content: '';
    transform: rotate(-45deg);
    left: 4px;
}



/* */

/* */

