* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #E4EBF7;
}

a {
  text-decoration: none;
}

/* HEADER */
header {
  background-color: #F2F6FC;
  border-bottom: 1px solid #CBD1DC;
}

.headerWrapper {
  margin: 0 auto;
  width: 1800px;
}

.headerContent {
  padding-top: 40px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerSearch {
  position: absolute;
  left: 100px;
  top: 37px;
}

.headerSearch input {
  height: 40px;
  width: 500px;
  color: "Noto Sans", sans-serif;
  font-size: 26px;
  color: #515974;
  background-color: transparent;
  border: none;
  outline: none;
}

.headerIcons {
  cursor: pointer;
}

.headerIcons img {
  margin-left: 20px;
}

/* */
/* MODAL WINDOW */
.modalWindow {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 50px 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#565C7C), color-stop(#464D70), to(#333B62));
  background: linear-gradient(#565C7C, #464D70, #333B62);
  border-radius: 10px;
  overflow: hidden;
}

.windowSign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin-left: 20px;
}

.windowSign p {
  font-size: 22px;
  font-family: "Noto Sans", sans-serif;
  cursor: pointer;
}

.signInText {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.signUpText {
  color: #868AA1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.signInText.active {
  color: #868AA1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.signUpText.active {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.signIn {
  text-align: center;
}

.signInBlock {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 25px;
  background-color: #1059FF;
  margin-top: 40px;
}

.signInBlock a {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Oswald', sans-serif;
  color: white;
  font-weight: bold;
}

.signForrgotLine {
  height: 1px;
  width: 100%;
  background-color: #737893;
  margin-top: 35px;
  margin-bottom: 35px;
}

.password {
  text-align: center;
}

.password a {
  font-size: 15px;
  font-weight: bold;
  color: #6F7690;
  font-family: "Noto Sans", sans-serif;
}

.windowForm {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.windowForm label {
  display: block;
  color: #B9BCC9;
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 25px;
}

.windowForm input {
  outline: none;
  border-radius: 25px;
  background-color: #6E7490;
  width: 320px;
  height: 40px;
  border: none;
  text-align: left;
  padding-left: 20px;
  color: white;
  font-weight: bold;
}

.signInLine {
  height: 2px;
  width: 100%;
  background-color: #1059FF;
  position: relative;
  top: 13px;
  opacity: 1;
  -webkit-transition: opacity .0s ease, top .2s ease;
  transition: opacity .0s ease, top .2s ease;
}

.signInLine.lineActive {
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 0s ease, top .1s ease;
  transition: opacity 0s ease, top .1s ease;
}

.signUpLine {
  height: 2px;
  width: 100%;
  background-color: #1059FF;
  position: relative;
  top: 0px;
  opacity: 0;
  -webkit-transition: opacity .0s ease, top .2s ease;
  transition: opacity .0s ease, top .2s ease;
}

.signUpLine.lineActive {
  top: 13px;
  opacity: 1;
  -webkit-transition: opacity .0s ease, top .2s ease;
  transition: opacity .0s ease, top .2s ease;
}

.windowForm {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.windowForm.left {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.windowForm1 {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.windowForm1.formActive {
  position: absolute;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.windowForm2 {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  position: absolute;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.windowForm2.formActive {
  position: relative;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.signUpBlock {
  margin-bottom: 25px;
}

/* ON OFF */
.windowSignInSwitcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 80px;
  height: 35px;
  border-radius: 30px;
  margin: 25px 0;
}

.windowSignInSwitcher input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 80px;
  height: 35px;
  border-radius: 30px;
  background-color: #656B89;
  outline: none;
  font-family: 'Oswald', sans-serif;
}

.windowSignInSwitcher input:before, .windowSignInSwitcher input:after {
  z-index: 11;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

.windowSignInSwitcher input:before {
  content: 'YES';
  left: 10px;
}

.windowSignInSwitcher input:after {
  content: 'NO';
  right: 10px;
}

/* */
/* */
/* MENU */
.menuBlock {
  position: fixed;
  top: 0;
  background-color: #1B2133;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 3;
  overflow-y: scroll;
  height: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.menuBlock::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.menuLogo {
  position: relative;
  right: 40px;
  right: 40px;
  padding-left: 40px;
  width: 150%;
  padding-top: 45px;
  padding-bottom: 45px;
  border-bottom: 1px solid #0C1224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menuLogo a {
  font-size: 35px;
  color: #E4EBF7;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}

.burger {
  position: relative;
  left: 40px;
  height: 50px;
  width: 50px;
  margin-left: 100px;
  cursor: pointer;
}

.burgerLine,
.burgerLine::before,
.burgerLine::after {
  position: absolute;
  background-color: #E4EBF7;
  height: 2px;
  width: 40px;
}

.burgerLine {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.burgerLine::before {
  content: '';
  top: 12px;
}

.burgerLine::after {
  content: '';
  top: -12px;
}

.menuAccount {
  position: relative;
  right: 40px;
  right: 40px;
  padding-left: 40px;
  width: 150%;
  padding-top: 45px;
  padding-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menuAccount p {
  color: #E4EBF7;
  font-family: "Noto Sans", sans-serif;
  font-size: 28px;
  margin-left: 30px;
  margin-top: 5px;
}

.menuContentTopList, .menuContentBottomList {
  position: relative;
  right: 40px;
  right: 40px;
  padding-left: 40px;
  width: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #0C1224;
}

.menuContentTopList p, .menuContentBottomList p {
  font-family: "Noto Sans", sans-serif;
  color: #515974;
  font-size: 20px;
}

.menuArrow {
  position: relative;
  left: 240px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-top: 5px;
}

.arrow,
.arrow::after,
.arrow::before {
  position: absolute;
  background-color: #515974;
  width: 14px;
  height: 3px;
  border-radius: 10px;
}

.arrow {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
}

.arrow::before {
  content: '';
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -4.5px;
}

.arrow::after {
  content: '';
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 4.5px;
}

.menuTopContainer {
  position: relative;
  right: 40px;
  right: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 40px;
  width: 150%;
}

.menuTopContainer:hover {
  background-color: #0C1224;
  border-left: 3px solid #F45B63;
}

.menuTopContainer a {
  margin-left: 20px;
  margin-bottom: 3px;
  color: #E4EBF7;
  font-size: 26px;
  font-family: "Noto Sans", sans-serif;
}

.menuContentTopNav, .menuContentBottomNav {
  -webkit-transition: 1s;
  transition: 1s;
  max-height: 0px;
  overflow: hidden;
  position: relative;
  right: 40px;
  right: 40px;
  padding-left: 40px;
  width: 120%;
}

.menuContentTopNav.active {
  max-height: 700px;
  -webkit-transition: 1s;
  transition: 1s;
}

.menuContentBottomNav {
  border-bottom: 1px solid #0C1224;
}

.menuContentBottomNav.active {
  max-height: 700px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

/* */
/* MAIN */
.projectsBlock, .teamBlock, .activityBlock, .visitsBlock, .messagesBlock, .implementationBlock, .clientActivityBlock, .mailBlock {
  background-color: #F2F6FC;
  border-bottom: 1px solid #DBE2ED;
  border-left: 1px solid #DBE2ED;
  border-right: 1px solid #DBE2ED;
}

main {
  height: 100%;
  width: 100%;
}

.mainWrapper {
  margin: 0 auto;
  width: 1800px;
}

.mainContent {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.projectsBlock {
  background-color: #F2F6FC;
  margin-top: 10px;
}

.mainContent div:nth-child(1) {
  grid-column: 1 / -1;
}

.projectTitle p {
  color: #515974;
  font-size: 24px;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}

.projectCollapse {
  height: 3px;
  width: 20px;
  background-color: #A5A6BB;
  cursor: pointer;
}

.projectTitle {
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E1E7F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projectButtons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

/* PROJECT */
.projectWrapper {
  margin: 0 auto;
  width: 1725px;
}

.projectOff {
  position: relative;
  height: 30px;
  width: 30px;
}

.projectContentTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.projectContentTop > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projectContentTop > div:nth-child(5) {
  margin-left: auto;
}

.projectContentTop > div:nth-child(4) {
  background-color: #F45B63;
  border-color: #F45B63;
}

.projectContentTop p {
  color: #515974;
  font-size: 20px;
  font-family: "Noto Sans", sans-serif;
}

/* OffButton */
.OffLine,
.OffLine::after,
.OffLine::before {
  position: absolute;
  height: 3px;
  width: 20px;
  background-color: #A5A6BB;
  cursor: pointer;
}

.OffLine {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
}

.OffLine::before {
  content: '';
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.OffLine::after {
  content: '';
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* */
.projectContentTopBlock {
  padding: 10px 25px;
  border: 2px solid #A5A6BB;
  border-radius: 35px;
  cursor: pointer;
}

.projectContentTopBlock:hover {
  background-color: #54A6DE;
  border-color: #54A6DE;
}

.projectContentTopBlock:hover p {
  color: #E4EBF7;
}

.projectContentTopBlock:hover .arrowProject::before {
  background-color: #E4EBF7;
}

.projectContentTopBlock:hover .arrowProject::after {
  background-color: #E4EBF7;
}

.contentTopArrow {
  height: 30px;
  width: 30px;
  position: relative;
}

.arrowProject,
.arrowProject::before,
.arrowProject::after {
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: #515974;
  border-radius: 15px;
}

.arrowProject {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
}

.arrowProject::after {
  content: '';
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -4px;
}

.arrowProject::before {
  content: '';
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 4px;
}

/* */
/* */
/*# sourceMappingURL=style.css.map */